$font-family_1: "Poppins", sans-serif;
$font-family_2: "Kalam", sans-serif;

$color_1: #000;
$color_2: #fff;
$color_3: #6f6fe3;
$color_4: #c1c5d2;
$color_5: #969ba9;
$color_6: #f2f0f0;
$color_7: #f9f8fc;
$color_8: #e1e1e2;
$color_9: #d0d2db;
$color_10: #2d3748;




