$color_1: black;
$color_2: white;
$color_3: #6f6fe3;
$color_4: #c1c5d2;
$color_5: #969ba9;

$font-family_1: "Poppins", sans-serif;
$font-family_2: "Kalam", sans-serif;

$background-color_1: #f2f0f0;
$background-color_2: #f9f8fc;
$background-color_3: #6f6fe3;
$background-color_4: #e1e1e2;
$background-color_5: #d0d2db;
$background-color_6: #2d3748;
$background-color_7: #fff;
